<ion-view view-title="暴房网">
  <ion-content>
    <div id="wrap" class="flex-wrap flex-vertical">
      <ion-slide-box class='swipe' auto-play='true' does-continue='true'>
        <ion-slide class="swipe-wrap">
          <div class="swipe-con">
            <img ng-src="img/api_1.jpg"></div>
        </ion-slide>
        <ion-slide class="swipe-wrap">
          <div class="swipe-con">
            <img ng-src="img/api_2.jpg"></div>
        </ion-slide>
        <ion-slide class="swipe-wrap">
          <div class="swipe-con">
            <img ng-src="img/api_3.jpg"></div>
        </ion-slide>
      </ion-slide-box>

      <div id="main" class="flex-wrap flex-con">
        <div class="flex-con flex-wrap flex-vertical">
          <a tapmode="hover" id="project_index" ng-href="#/tab/solution" class="flex-wrap flex-con flex-2 layout-wrap assertive-bg">
            <div class="flex-con layout ic-solution">
              <h6>项目大本营</h6>
              <p>万千项目随你挑选</p>
            </div>
          </a>
          <a tapmode="hover" id="labor_index" ng-href="#/tab/shop" class="flex-wrap flex-con layout-wrap positive-bg">
            <div class="flex-con layout  ic-shop">
              <h6>网上商城</h6>
              <p>总有你需要的</p>
            </div>
          </a>
        </div>
        <div class="flex-wrap flex-con flex-vertical">
          <a tapmode="hover" id="shop_index" ng-href="#/tab/company" class="flex-wrap flex-con layout-wrap royal-bg">
            <div class="flex-con layout ic-company">
              <h6>基建协会</h6>
              <p>找靠谱公司</p>
            </div>
          </a>
          <a tapmode="hover" id="company_index" ng-href="#/tab/labor" class="flex-wrap flex-con flex-2 layout-wrap balanced-bg">
            <div class="flex-con layout ic-labor">
              <h6>劳工家园</h6>
              <p>总有你需要的</p>
            </div>
          </a>

          <div class="flex-wrap flex-con">
            <a tapmode="hover"  ng-href="#/tab/project" class="flex-wrap flex-con layout-wrap energized-bg">
              <div class="flex-con layout ic-contract">
                 <h6>我的项目</h6>
                <p></p>
              </div>
            </a>
            <a tapmode="hover"  ng-href="#/tab/projectfinancing" class="flex-wrap flex-con layout-wrap calm-bg">
              <div class="flex-con layout ic-financing">
                 <h6>我要融资</h6>
                <p>找资金</p>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>