<ion-view view-title="暴房网">
<ion-content>
<div id="wrap" class="flex-wrap flex-vertical">
  <ion-slide-box class='swipe' auto-play='true' does-continue='true'>
  <ion-slide class="swipe-wrap">
  <div class="swipe-con"><img ng-src="img/api_101.jpg"></div>
</ion-slide>
<ion-slide class="swipe-wrap">
<div class="swipe-con"><img ng-src="img/api_102.jpg"></div>
</ion-slide>
<ion-slide class="swipe-wrap">
<div class="swipe-con"><img ng-src="img/api_103.jpg"></div>
</ion-slide>
</ion-slide-box>


<div id="main" class="flex-wrap flex-con">
  <div class="flex-con flex-wrap flex-vertical">
    <a tapmode="hover" id="project_index" ng-href="#/tab/project" class="flex-wrap flex-con flex-2 layout-wrap">
      <div class="flex-con layout ic-project">
        <h6>找项目</h6>
        <p>万千项目随你挑选</p>
      </div>
    </a>

    <a tapmode="hover" id="team_index" ng-href="#/tab/teamType/1" class="flex-wrap flex-con flex-2 layout-wrap">
      <div class="flex-con layout ic-team">
        <h6>找施工单位</h6>
        <p>专业施工单位为你服务</p>
      </div>
    </a>
    <a tapmode="hover" id="laborer_index" ng-href="#/tab/laborer" class="flex-wrap flex-con layout-wrap">
      <div class="flex-con layout  ic-labor">
        <h6>找工人</h6>
        <p>身怀绝技，随时待命</p>
      </div>
    </a>
  </div>
  <div class="flex-wrap flex-con flex-vertical">
    <a tapmode="hover" id="shop_index" class="flex-wrap flex-con layout-wrap">
      <div class="flex-con layout ic-shop">
        <h6>在线商城</h6>
        <p>总有你需要的</p>
      </div>
    </a>
    <a tapmode="hover" id="company_index" ng-href="#/tab/company" class="flex-wrap flex-con flex-2 layout-wrap">
      <div class="flex-con layout ic-company">

        <h6>找公司</h6>
        <p>找靠谱公司，就来超能国际</p>
      </div>
    </a>
    <a tapmode="hover" id="contact_index" class="flex-wrap flex-con  layout-wrap">
      <div class="flex-con layout ic-contact">
        <h6>客服</h6>
        <p>7*24全天候服务</p>
      </div>
    </a>
    <div class="flex-wrap flex-con">
      <a tapmode="hover" id="contract_index"  ng-href="#/tab/myproject" class="flex-wrap flex-con layout-wrap">
        <div class="flex-con layout ic-contract">
          <h6>合约</h6>
          <p>我的合作</p>
        </div>
      </a>
      <a tapmode="hover" id="more_index" class="flex-wrap flex-con layout-wrap">
        <div class="flex-con layout ic-more">
          <h6>更多</h6>
          <p>精彩继续</p>
        </div>
      </a>
    </div>
  </div>
</div>

</div>
</ion-content>
</ion-view>
