<ion-view view-title="供给通">
  <ion-content>
    <div id="wrap" class="flex-wrap flex-vertical">
      <ion-slide-box class='swipe' auto-play='true' does-continue='true' show-pager="true" pager-click="goIndex(index)">
        <ion-slide class="swipe-wrap">
          <div class="swipe-con">
            <img ng-src="img/api_1.jpg" ng-click="goIndex(0)"></div>
        </ion-slide>
        <ion-slide class="swipe-wrap">
          <div class="swipe-con">
            <img ng-src="img/api_2.jpg" ng-click="goIndex(1)"></div>
        </ion-slide>
        <ion-slide class="swipe-wrap">
          <div class="swipe-con">
            <img ng-src="img/api_3.jpg" ng-click="goIndex(2)"></div>
        </ion-slide>
      </ion-slide-box>

      <div id="main" class="flex-wrap flex-con">
        <div class="flex-con flex-wrap flex-vertical">
          <a tapmode="hover" id="project_index" ng-href="#/tab/solution" class="flex-wrap flex-con flex-2 layout-wrap " >
            <div class="flex-con layout ic-solution" style="margin:4px 4px 4px 4px;background-color:#ef473a;">
              <h6>项目大本营</h6>
              <p>万千项目随你挑选</p>
            </div>
          </a>
          <a tapmode="hover" id="labor_index" ng-href="#/tab/shop" class="flex-wrap flex-con layout-wrap " >
            <div class="flex-con layout  ic-shop  " style="margin:4px 4px 4px 4px;background-color:#387ef5;">
              <h6>网上商城</h6>
              <p>总有你需要的</p>
            </div>
          </a>
        </div>
        <div class="flex-wrap flex-con flex-vertical">
          <a tapmode="hover" id="shop_index" ng-href="#/tab/company" class="flex-wrap flex-con layout-wrap " >
            <div class="flex-con layout ic-company" style="margin:4px 4px 4px 4px;background-color:#886aea;">
              <h6>基建协会</h6>
              <p>找靠谱公司</p>
            </div>
          </a>
          <a tapmode="hover" id="company_index" ng-href="#/tab/labor" class="flex-wrap flex-con flex-2 layout-wrap " >
            <div class="flex-con layout ic-labor" style="margin:4px 4px 4px 4px;background-color:#33cd5f;">
              <h6>劳工家园</h6>
              <p>总有你需要的</p>
            </div>
          </a>

          <div class="flex-wrap flex-con">
            <a tapmode="hover"  ng-href="#/tab/MyData" class="flex-wrap flex-con layout-wrap " >
              <div class="flex-con layout ic-contract "  style="margin:4px 4px 4px 4px;background-color:#ffc900;">
                 <h6>我的</h6>
                <p></p>
              </div>
            </a>
            <a tapmode="hover"  ng-href="#/tab/projectfinancing" class="flex-wrap flex-con layout-wrap " >
              <div class="flex-con layout ic-financing" style="margin:4px 4px 4px 4px;background-color:#11c1f3;">
                 <h6>我的融资</h6>
                <p>融资列表</p>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>