<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.superappv120737626" version="1.4.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>供给通</name>
  <description>
    房产基建供应链金融方案解决专家
  </description>
  <author email="suqingheangle@163.com" href="http://example.com.com/">
    苏庆贺
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  
  <platform name="ios">
    <icon src="img/logo.png"  width="180" height="180" />
    <splash src="img/splash.png" platform="ios" width="750" height="1334" />
  </platform>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000" />

</widget>
