<ion-view ng-controller="ProjectCtrl"  view-title="我的项目">
	 
	<ion-content>
		<div class="item-input-inset" id="searchDiv">
			<label class="item-input-wrapper"> <i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" ng-model="keyword" placeholder="搜索"></label>
			<button class="button button-clear">取消</button>
		</div>
		 
		<ion-list>
			<ion-item class="item-icon-right" collection-repeat="project in myProjects|filter:keyword" type="item-text-wrap"
href="#/tab/project/{{project.ID}}">
				<h2>{{project.Name}}</h2>
				<p>发布公司：{{project.CompanyName}}</p>
				<p>项目时间：{{project.ProjectDate}}</p>
				<p>项目状态：{{project.Status}}</p>
				<p>项目类型：{{project.CategoryName}}</p>
				<p>隶属工程：{{project.SolutionName}}</p> <i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
		</ion-list>
	</ion-content>

	
</ion-view>