<ion-view ng-controller="ProjectCtrl"  view-title="我的账单">
	 
	<ion-content>
		<div class="item-input-inset" id="searchDiv">
			<label class="item-input-wrapper"> <i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" ng-model="keyword" placeholder="搜索"></label>
			<button class="button button-clear">取消</button>
		</div>
		 
		<ion-list>
			<ion-item class="item-icon-right" collection-repeat="receivable in myReceivables|filter:keyword" type="item-text-wrap"
href="#/tab/receivable/{{receivable.ID}}">
				<h2>{{receivable.No}}</h2>
				<p>项目名称：{{receivable.ProjectName}}</p>
				<p>账单状态：{{receivable.Status}}</p>
				<p>付款公司：{{receivable.Payer}}</p>
				<p>收款公司：{{receivable.Payee}}</p>
				<p>账单金额：{{receivable.Amount}}</p> <i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
		</ion-list>
	</ion-content>

	 
</ion-view>