<ion-view view-title="公司列表">
  <ion-content>
    <ion-refresher
      pulling-text="下拉刷新..."
      on-refresh="doRefresh()"></ion-refresher>
    <div class="item-input-inset" id="searchDiv">
      <label class="item-input-wrapper"> <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" ng-model="keyword" placeholder="搜索"></label>
      <button class="button button-clear">取消</button>
    </div>

    <div style="margin-bottom: 10px;">
      <button ng-click="GetSimpleDataByQua({{qua.ID}},'{{keyword}}')" class="button button-stable button-small" style="margin: 1px;" ng-repeat="qua in qualifications | limitTo:6">{{qua.Name}}</button>
    </div>

    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="company in companys|filter:keyword" type="item-text-wrap"
                href="#/tab/company/{{company.ID}}">
        <h2>{{company.Name}}</h2> <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>