<ion-view view-title="劳务列表">
  <ion-content>
    <div class="item-input-inset" id="searchDiv">
      <label class="item-input-wrapper"> <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" ng-model="keyword" placeholder="搜索"></label>
      <button class="button button-clear">取消</button>
    </div>

    <div style="margin-bottom: 10px;">
      <button ng-click="GetSimpleDataBySkill({{skill.ID}},'{{keyword}}')" class="button button-stable button-small" style="margin: 1px;" ng-repeat="skill in skills | limitTo:8">{{skill.Name}}</button>
    </div>

    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="labor in labors|filter:keyword" type="item-text-wrap"
                href="#/tab/labor/{{labor.ID}}">
        {{labor.Name}}
        <span class="item-note">{{labor.Tel}}</span> <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>