<ion-view view-title="产品详情" ng-controller="ProductDetailCtrl">
	<ion-content class="padding">
		<ion-refresher
      pulling-text="下拉刷新..."
      on-refresh="doRefresh()"></ion-refresher>
		<ion-slide-box class='swipe' auto-play='true' does-continue='true'>
			<ion-slide class="swipe-wrap">
				<div class="swipe-con">
					<img ng-src="img/prd_01.jpg"></div>
			</ion-slide>
			<ion-slide class="swipe-wrap">
				<div class="swipe-con">
					<img ng-src="img/prd_08.jpg"></div>
			</ion-slide>
		</ion-slide-box>

		<div class="list" style="margin: 5px 0px 10px 0px;">
			<div class="item  item-text-wrap item-icon-right">
				<h3>{{product.Name}}</h3>
				<p>{{product.CategoryName}}</p>
				<p> <strong>价格范围：</strong>
					{{product.MinPrice | currency:'￥':2}}-{{product.MaxPrice | currency:'￥':2}} / {{product.Unit}}
				</p>
				<p> <strong>产品供应商：</strong>
					{{product.SupplyCount}} 家
				</p> <i class="icon ion-ios-cart-outline"></i>
			</div>

			<div class="item  item-text-wrap ">
				<h3>产品描述：</h3>
				<p>{{product.Description}}</p>
			</div>

		</div>

	</ion-content>
</ion-view>