<ion-view view-title="发布工程">
	<ion-content>
		<form novalidate ng-controller="SolutionCtrl" name="publishSolutionForm">
			<div class="item item-divider">基础信息</div>
			<!-- <label class="item item-input  ">
				<span class="input-label">工程编号</span>
				<input type="text" placeholder="工程编号" ng-model="solution.No"></label> -->
			<label class="item item-input  ">
				<span class="input-label">工程名称<label style="color:red;">*</label></span>
				<input type="text" placeholder="工程名称" ng-model="solution.Name" required></label>

			<label class="item item-input  ">
				<span class="input-label">工程类型<label style="color:red;">*</label></span>

				<select ng-model="solution.CategoryId">
					<option ng-repeat="x in categories" value="{{x.ID}}">{{x.Name}}</option>
				</select>
			</label>
			<div class="item item-divider">工程地址<label style="color:red;">*</label></div>
			<textarea  class="item-remark" placeholder="请输入工程地址" rows="3" ng-model="solution.Address" required></textarea>

			<div class="item item-divider">工程信息</div>
			<label class="item item-input  ">
				<span class="input-label">工程估价<label style="color:red;">*</label></span>
				<input type="text" placeholder="输入工程价格" ng-model="solution.Valuation" required></label>
			<label class="item item-input  ">
				<span class="input-label">启动时间<label style="color:red;">*</label></span>
				<input type="text" placeholder="请选择" ng-model="solution.StrStartDate" required></label>
			<label class="item item-input  ">
				<span class="input-label">结束时间<label style="color:red;">*</label></span>
				<input type="text" placeholder="请选择" ng-model="solution.StrEndDate" required></label>
			<div class="item item-divider">工程描述</div>
			<textarea class="item-remark" placeholder="输入工程描述"  rows="3" ng-model="solution.Description"></textarea>

			<!-- <div class="item item-divider">其他信息</div>
			<textarea  class="item-remark" placeholder="输入备注"  rows="3" ng-model="solution.Remark"></textarea> -->

			<div class="padding">
				<button class="button button-full button-balanced"  ng_disabled="!publishSolutionForm.$valid" ng-click="publish()">发布</button>
				<button class="button button-block button-calm"  ng-click="reset()">重置</button>
			</div>

		</form>
	</ion-content>
</ion-view>