<ion-view view-title="工程详情">
  <ion-content >

    <div class="list">
      <ion-item class="item-divider">工程信息</ion-item>
      <ion-item class="item-remove-animate" type="item-text-wrap">
        工程名称
        <span class="item-note">{{solution.Name}}</span>
      </ion-item>
      <ion-item class="item-remove-animate" type="item-text-wrap">
        工程状态
        <span class="item-note">{{solution.Status}}</span>
      </ion-item>
      <ion-item class="item-remove-animate" type="item-text-wrap">
        工程类型
        <span class="item-note">{{solution.Category.Name}}</span>
      </ion-item>
      <ion-item class="item-remove-animate" type="item-text-wrap">
        工程估价
        <span class="item-note">{{solution.Valuation}}</span>
      </ion-item>
      <ion-item class="item-remove-animate" type="item-text-wrap">
        工程地址
        <span class="item-note">{{solution.Address}}</span>
      </ion-item>
      <ion-item class="item-remove-animate" type="item-text-wrap">
        开始时间
        <span class="item-note">{{solution.StartDate}}</span>
      </ion-item>
      <ion-item class="item-remove-animate" type="item-text-wrap">
        结束时间
        <span class="item-note">{{solution.EndDate}}</span>
      </ion-item>

      <div class="item item-divider">工程发布方</div>
      <ion-item class="item-remove-animate" type="item-text-wrap">
        公司名称
        <span class="item-note">{{solution.Company.Name}}</span>
      </ion-item>
      <ion-item class="item-remove-animate" type="item-text-wrap"> <i class="icon ion-person"></i>
        联系人
        <span class="item-note">{{solution.Company.Principal}}</span>
      </ion-item>
      <ion-item class="item-remove-animate" type="item-text-wrap"> <i class="icon ion-ios-telephone"></i>
        手机
        <span class="item-note">{{solution.Company.Mobile}}</span>
      </ion-item>

      <div class="item item-divider">工程简介</div>
      <span class="item-remark">{{solution.Description}}</span>

      
      <div class="item item-divider">备注信息</div>
      <span class="item-remark">{{solution.Remark}}</span>

      <div  style="text-align: center;margin: 0 auto;" >
        <a href="#/tab/splitSolution/{{solution.ID}}"  class="button button-positive button-small">拆分工程</a>
        <a href="#/tab/splitProject/{{solution.ID}}" class="button button-royal button-small">拆分项目</a>
        <button ng-click="publishBid({{solution.ID}})" class="button button-balanced button-small">发布招标</button>
        <button ng-click="applyBid({{solution.ID}})" class="button button-calm button-small">申请招标</button>
        <button ng-click="finishConfirm({{solution.ID}})" class="button button-assertive button-small">完工确认</button>
      </div>
    </div>
  </ion-content>
</ion-view>