<ion-view view-title="工程详情">
  <ion-content >

    <div class="list">
      <ion-item class="item-divider">基础信息</ion-item>
      <ion-item class="item-remove-animate" type="item-text-wrap">
        父工程编号
        <span class="item-note">{{solution.ParentNo}}</span>
      </ion-item>
      <ion-item class="item-remove-animate" type="item-text-wrap">
        父工程名称
        <span class="item-note">{{solution.ParentName}}</span>
      </ion-item>
      <ion-item class="item-remove-animate" type="item-text-wrap">
        工程编号
        <span class="item-note">{{solution.No}}</span>
      </ion-item>
      <ion-item class="item-remove-animate" type="item-text-wrap">
        工程名称
        <span class="item-note">{{solution.Name}}</span>
      </ion-item>
      <ion-item class="item-remove-animate" type="item-text-wrap">
        隶属公司
        <span class="item-note">{{solution.CompanyName}}</span>
      </ion-item>
      <ion-item class="item-remove-animate" type="item-text-wrap">
        工程类型
        <span class="item-note">{{solution.CategoryName}}</span>
      </ion-item>
      <ion-item class="item-remove-animate" type="item-text-wrap">
        工程地址
        <span class="item-note">{{solution.Address}}</span>
      </ion-item>

      <div class="item item-divider">工程信息</div>
      <ion-item class="item-remove-animate" type="item-text-wrap">
        工程估价
        <span class="item-note">{{solution.Valuation}} 万</span>
      </ion-item>

      <ion-item class="item-remove-animate" type="item-text-wrap">
        开始日期
        <span class="item-note">{{solution.StartDate}}</span>
      </ion-item>
      <ion-item class="item-remove-animate" type="item-text-wrap">
        结束日期
        <span class="item-note">{{solution.EndDate}}</span>
      </ion-item>
      <div class="item item-divider">工程简介</div>
      <span class="item-remark">{{solution.Description}}</span>
 
      <div  style="text-align: center;margin: 0 auto;" >
        <button ng-click="applyBid({{solution.ID}})" ng-if="solution.Status == '招标中'" class="button button-calm button-small">申请招标</button>
      </div>
    </div>
  </ion-content>
</ion-view>