<ion-view view-title="工程列表" ng-controller="SolutionCtrl">
	<ion-nav-buttons side="right">
		<a class="button ion-plus" ng-href="#/tab/addsolution">发布</a>
	</ion-nav-buttons>
	<ion-content>
		<ion-refresher
      pulling-text="下拉刷新..."
      on-refresh="doRefresh()"></ion-refresher>
		<div class="item-input-inset" id="searchDiv">
			<label class="item-input-wrapper"> <i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" ng-model="keyword" placeholder="搜索"></label>
			<button class="button button-clear" ng-click="clearSearch()">清除</button>
		</div>

		 
		<ion-scroll direction="x" class="item wide-item" style="width: 100%; padding: 3px; border-width: 0px;overflow: auto;">
			<button ng-click="GetSimpleDataByCId({{category.ID}},'{{keyword}}')" class="button button-stable button-small" style="margin: 1px;" ng-repeat="category in categories">{{category.Name}}</button>
		</ion-scroll>

		<ion-list>
			<ion-item class=" item-icon-right" ng-repeat="item in solutions|filter:keyword" type="item-text-wrap"
href="#/tab/solution/{{item.ID}}">
				<h2>{{item.Name}}</h2>
				<p>工程编号：{{item.No}}</p>
				<p>工程状态：{{item.Status}}</p>
				<p>开始时间：{{item.StartDate}}</p>
				<p>工程分类：{{item.CategoryName}}</p>
				<p>工程地址：{{item.Address}}</p>
				<p>隶属公司：{{item.CompanyName}}</p> <i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>