<ion-view view-title="拆分子项目" ng-controller="SplitProjectCtrl">
	<ion-content >
		<form novalidate name="splitProjectForm">

			<ion-item class="item-remove-animate" type="item-text-wrap">
				父工程名称
				<span class="item-note">{{project.SolutionName}}</span>
			</ion-item>
			<label class="item item-input  ">
				<span class="input-label">子项目名称<label style="color:red;">*</label></span>
				<input type="text" placeholder="子项目名称" ng-model="project.Name" required></label>
			 <label class="item item-input  ">
				<span class="input-label">子项目估价<label style="color:red;">*</label></span>
				<input type="text" placeholder="输入项目价格" ng-model="project.Valuation" required></label>
			<label class="item item-input  ">
				<span class="input-label">启动时间<label style="color:red;">*</label></span>
				<input type="text" placeholder="请选择" ng-model="project.StartDate" required></label>
			<label class="item item-input  ">
				<span class="input-label">结束时间<label style="color:red;">*</label></span>
				<input type="text" placeholder="请选择" ng-model="project.EndDate" required></label>

			<div class="item item-divider">子项目地址<label style="color:red;">*</label></div>
			<textarea placeholder="请输入子项目地址" rows="3" class="item-remark"  ng-model="project.Address" required></textarea>

			<div class="item item-divider"></div>
			<div class="item item-divider">子项目描述</div>
			<textarea placeholder="输入子项目描述" class="item-remark" rows="3" ng-model="project.Description"></textarea> 			 

			<div class="padding">
				<button class="button button-full button-balanced"   ng_disabled="!splitProjectForm.$valid"  ng-click="splitProject()">拆分</button>
				<button class="button button-block button-calm"  ng-click="reset()">重置</button>
			</div>

		</form>
	</ion-content>
</ion-view>