<ion-view view-title="关于">
    <ion-content>

        <div class="list">
            <div class="item item-avatar">
                <img src="img/logo.png">

                <h2>暴房网</h2>

                <p>Version 1.3.0</p>
            </div>

            <div class="item item-body">
                <p>深圳市超能国际供应链管理股份有限公司，成立于2012年。公司于2015年9月完成股份制改制。公司的主营业务为供应链管理及相关配套服务，主要包括大宗商品供应链服务和供应链金融服务两大业务板块。</p>

                <p>超能国际是一家轻资产的服务公司，以供应链管理系统为核心，以渠道资源为基础，全力打造供应链垂直生态系统。公司为大宗商品提供贸易服务，并提供配套的供应链管理服务。</p>

                <p>如您想支持该App，您可以去Store去给我们好评，谢谢！</p>
            </div>

        </div>
    </ion-content>
</ion-view>