<ion-view view-title="项目详情">
  <ion-content>

    <div class="list">
      <ion-item >
        项目名称
        <span class="item-note">{{project.Name}}</span>
      </ion-item>
      <ion-item >
        项目地址
        <span class="item-note">{{project.Address}}</span>
      </ion-item>
      <ion-item >
        开始时间
        <span class="item-note">{{project.StartDate}}</span>
      </ion-item>
      <ion-item >
        结束时间
        <span class="item-note">{{project.EndDate}}</span>
      </ion-item>
       <ion-item >
        项目状态
        <span class="item-note">{{project.Status}}</span>
      </ion-item>

      <div class="item item-divider">项目发布方</div>
      <ion-item >
        公司名称
        <span class="item-note">{{project.Company.Name}}</span>
      </ion-item>
      <ion-item> <i class="icon ion-person"></i>
        联系人
        <span class="item-note">{{project.Company.Principal}}</span>
      </ion-item>
       <ion-item ><i class="icon ion-ios-telephone"></i>
        手机
        <span class="item-note">{{project.Company.Mobile}}</span>
      </ion-item>

      <div class="item item-divider">项目简介</div>
      <span class="item-remark">{{project.Description}}</span>

     
      <div class="item item-divider">备注</div>
      <span class="item-remark">{{project.Remark}}</span>

      <div class="item" style="text-align: center;margin: 0 auto;" >
        <button ng-click="startProject({{project.Remark}})" class="button button-small button-positive">启动项目</button>
        <button ng-click="startProject({{project.Remark}})" class="button button-small button-balanced">申请融资</button>
      </div>
    </div>
  </ion-content>
</ion-view>