<ion-view view-title="公司注册">
<ion-content >
<div  class="list"  id="main"  >
	<form novalidate>
		<label class="item item-input  ">
			<span class="input-label">手机号码</span>
			<input type="text" placeholder="必填" ng-model="company.Mobile">
		</label>
		<label class="item item-input  ">
			<span class="input-label">手机验证码</span>
			<input type="text" placeholder="必填" ng-model="company.VerifyCode">
		</label>
		<label class="item item-input  ">
			<span class="input-label">密码</span>
			<input type="password" placeholder="必填" ng-model="company.Password">
		</label>

		<div class="item item-divider">
		</div>
		<label class="item item-input  ">
			<span class="input-label">公司名称</span>
			<input type="text" placeholder="请选择" ng-model="company.Name">
		</label>
		<label class="item item-input  ">
			<span class="input-label">公司类型</span> 
			<select  ng-model="Types.value" ng-options="v for v in Types.values" >
			</select>
		</label>
		<label class="item item-input  ">
			<span class="input-label">组织机构代码</span>
			<input type="text" placeholder="必填" ng-model="company.Code">
		</label>
		<label class="item item-input  ">
			<span class="input-label">联系人</span>
			<input type="text" placeholder="必填" ng-model="company.Principal">
		</label>
		<label class="item item-input  ">
			<span class="input-label">固定电话</span>
			<input type="text" placeholder="必填" ng-model="company.Phone">
		</label>

		<div class="item item-divider">
		</div>
		<label class="item item-input  ">
			<span class="input-label">网址</span>
			<input type="text" placeholder="必填" ng-model="company.WebSite">
		</label>
		<label class="item item-input  ">
			<span class="input-label">邮箱</span>
			<input type="text" placeholder="必填" ng-model="company.Email">
		</label>
		<label class="item item-input  ">
			<span class="input-label">地址</span>
			<input type="text" placeholder="必填" ng-model="company.Address">
		</label>
		<div class="item item-checkbox">
			<label class="checkbox">
				<input type="checkbox" checked="">
			</label>
			同意<a href="">超能国际用户协议</a>并注册
		</div>

		<div class="padding">
			<button class="button button-full button-balanced" ng-click="register_company()">注册</button>
			<button class="button button-block button-calm"  ng-click="reset_company()">重置</button>
		</div>

	</form>

</div>
</ion-content>
</ion-view>