<ion-view view-title="登录">
	<ion-content ng-controller="LoginCtrl" class="padding">

		<div  style="text-align: center;margin: 20px auto;" >
			<img style="text-align: center;" ng-src="img/logo.png" alt="超能国际"></div>

		<form name="loginForm">
			<div class="list">
				<label class="item item-input">
					<span class="input-label">用户名</span>
					<input type="text" ng-model="user.Login"  placeholder="输入用户名" required></label>
				<label class="item item-input">
					<span class="input-label">密码</span>
					<input type="password" ng-model="user.Password" placeholder="输入密码"  required></label>
			</div>

			<div class="padding">
				<button class="button button-block button-positive"  ng_disabled="!loginForm.$valid" ng-click="login()">登录</button>
				<a class="button button-block button-calm"  ng-href="#/register">注册</a>
			</div>
		</form>
	</ion-content>
</ion-view>