<ion-view view-title="注册">
<ion-content class="padding">
<div  style="text-align: center;margin: 20px auto;" >
	<img style="text-align: center;" ng-src="img/logo.png" alt="超能国际">
</div>


<div class="list card">

	<a class=" item button button-full button-positive" ng-href="#/tab/registercompany">公司注册</a>
	<a class=" item button button-full button-calm"  ng-href="#/tab/registerteam">施工单位注册</a>
	<a class=" item button button-full button-balanced"  ng-href="#/tab/registerlaborer">劳务注册</a>

</div>

<div  style="text-align: center;margin: 20px auto;" >
	<img style="text-align: center;" ng-src="img/qrcode.jpg" alt="超能国际">
</div>
</ion-content>
</ion-view>